<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145956800084-5k08hadclt2n9ofknr8p2m0bc9jnan2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145956800084-5k08hadclt2n9ofknr8p2m0bc9jnan2i</string>
	<key>API_KEY</key>
	<string>AIzaSyBiH1TLBHwhrugrISoSPN011VJ_B4cmCV4</string>
	<key>GCM_SENDER_ID</key>
	<string>145956800084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fi.Ylitse.MentorApp</string>
	<key>PROJECT_ID</key>
	<string>ylitse-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>ylitse-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145956800084:ios:fae13ce03dd5e693</string>
	<key>DATABASE_URL</key>
	<string>https://ylitse-notifications.firebaseio.com</string>
</dict>
</plist>